.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.center-column {
    flex-direction: column;
}
.top {align-items: flex-start;}
.right {justify-content: flex-end;}
.bottom {align-items: flex-end;}
.left {justify-content: flex-start;}
.single-spaced, .single-spaced * {
    line-height: 1;
}
@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}

/*adjust navbar menu background when in burger*/
.transparent-background {
    background-color: transparent;
  }

/*add margin to top of buttons*/
.button-margins {
    margin-top: 0.5rem;
    margin-bottom: 0rem!important;
    margin-left: 0rem;
    margin-right: 0rem;
}


